html {
    scroll-behavior: smooth;
  }
  
  body {
    background-color: #00558F;
    font-family: "Raleway", sans-serif;
    color: white;
  }
  
  #nav {
    font-size: 1rem;
    font-weight: 100;
    text-transform: uppercase;
    background-color: #041E42;
  }
  
  #nav .navbar-brand {
    color: #fff;
    font-size: 1.7rem;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 0.2rem;
  }
  
  #nav .nav-link {
    color: white;
    font-weight: 500;
    transition: 200ms;
    letter-spacing: 0.1rem;
  }
  #nav .nav-link:hover {
    color: #E9215A;
    font-weight: 600;
    text-decoration: 2px #E9215A underline;
  }
  
  .icons a {
    font-size: 1.5rem;
    padding-bottom: 0.5em;
    color: white;
  }
  
  .presentationImg {
    width: 100%;
    height: auto;
    border-radius: 100%;
  }
  
  .ilsR1 {
    width: 100%;
    height: auto;
    display: block;
    margin: calc(10% / 6);
    -webkit-transition: opacity 0.26s ease-out;
    -moz-transition: opacity 0.26s ease-out;
    -ms-transition: opacity 0.26s ease-out;
    -o-transition: opacity 0.26s ease-out;
    transition: opacity 0.26s ease-out;
    transition: 500ms;
  }
  
  hr.styledHR {
    border: 0;
    height: 1px;
    background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0)
    );
  }
  
  .sub{
    text-align: start;
    font-size: 1.6rem;
  }

  .logo{
    width: 70%;
    align-self: center;
  }
  
  .logo_equipo{
    float: left;
    width: 1rem;
    height: 1rem;
    object-fit: cover;
  }

  .conference{
    border: 5px groove rgba(0, 0, 0, 0.5);
    border-radius: 1rem;
    padding: 1rem 3rem 1rem 1rem;
  }
  
